<!DOCTYPE html>
<html>
<title>Bob Dennett</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">


<script src="https://use.fontawesome.com/565098fb8a.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>


<script src="application.js"></script>


<!-- bootstrap core css -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
<!-- main css -->
<link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
<link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">


</head>

<body>
  <!-- top about/landing section -->
  <section id="home">
    <div class="col-md-5 col-sm-12" id="left">
      <div id="quote1" class="slideUp">
        <p id="me">Vestibulum ac diam sit amet quam vehicula
          elementum sed sit amet dui. Nulla porttitor accums
          an tincidunt. Curabitur aliquet quam id dui posuere
          blandit. Vestibulum ac diam sit amet quam vehicula
          elementum sed sit amet dui.</p>
        </div>
      </div>
      <div class="col-md-7 col-sm-12" id="right">
    </section>

    <!-- projects section -->
    <section class="col-md-12 col-sm-12" id="projects">
      <div class="row">
        <div class="slideRight">
          <div class="col-md-4 col-sm-0" id="proj1">
            <h2 class="title" id="shelter">Shelter Friends<h2>
              <p id="pet">this was my final project at <a href="https://www.learnacademy.org" target="_blank"><span id="learn">learn</span></a> academy,
                an app that aims to connect available shelter pets with possible
                adopters. for this project i was part of a 5 person team, and we were
                given just under two weeks to plan, and build the app.</p>
              </div>
            </div>
            <div class="col-md-8 col-sm-12" id="petBG">
              <a href="https://aqueous-taiga-4911.herokuapp.com/" target="_blank"><button class="defBtn">check it</button></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-sm-12" id="pres">
              <a href="https://www.youtube.com/watch?v=iEfpYss_BZ4" target="_blank"><button class="defBtn">check it</button></a>
            </div>

            <div class="col-md-4 col-sm-12" id="proj4">
              <h2 class="title" id="thero">Accessibility</h2>
              <p id="accessibility">Proin eget tortor risus. Curabitur arcu erat,
                accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id
                orci porta dapibus. Proin eget tortor risus. Vestibulum ac diam sit
                amet quam vehicula elementum sed sit amet dui.</p>
              </div>
            </div>

          <!-- <div class="row">
            <div id="thero1">
              <div class="col-md-8 col-sm-12" id="theroBG">
                <a href="http://thero.r15.railsrumble.com/" target="_blank"><button class="defBtn">check it</button></a>
              </div>
            </div>

            <div class="col-md-4 col-sm-0" id="proj2">
              <h2 class="title" id="therotitle">Thero</h2>
              <p id="thero2">For this project i was part of a 4 person team, consisting
                of myself, two of my instructors at <a href="https://www.learnacademy.org" target="_blank"><span id="learn">learn</span></a>, and one alumni. we entered into
                the 2015 rails rumble, volunteering for a san diego
                non-profit that works to help de-stigmatize mental health issues, and connect
              </p>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-4 col-sm-12" id="proj3">
              <h2 class="title" id="reutitle">reu manager</h2>
              <p id="reuman">Mauris blandit aliquet elit, eget tincidunt
                nibh pulvinar a. Donec rutrum congue leo eget malesuada.
                Vestibulum ac diam sit amet quam vehicula elementum se
                d sit amet dui. Quisque velit nisi, pretium ut lacinia in,
                elementum id enim. .</p>
              </div>
              <div class="col-md-8 col-sm-12" id="reu">
                <a href="https://reumanager.com/" target="_blank"><button class="defBtn">check it</button></a>
              </div>
            </div>
            </section>
            <!-- end projects -->

            <section id="aboutme">
              <div class="col-md-12 col-sm-12" id="info">
                <p id="quote"><span id="line1"><span id="im">
                  Imagination</span> is more important than
                  knowledge.For knowledge <span id="is">is</span> limited to all we now know
                  and understand, while imagination embraces <span id="the">the</span> entire <span id="world">world</span>,
                  and all there ever will be to know and understand.</br><span id="ae">Albert Einstein</span>
                </p>
              </div>
            </section>

            <!-- <section>
              <div class="col-md-12 col-sm-12" id="about"></div>
            </section> -->

            <section>
              <div class="col-md-12 col-sm-12" id="articles">
                <h2 id="handy">Useful Articles</h2>
              </div>
            </section>

            <section id="foot">
              <div class="col-md-12 col-sm-12" id="foot">

              </div>
            </section>

            <script>
            $(window).scroll(function() {
              $('#shelter, #pet, #theroBG, #proj3, #pres, #leftbott, #bottmid2').each(function(){
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+400) {
                  $(this).addClass("slideRight");
                }
              });
            });
            </script>
            <script>
            $(window).scroll(function() {
              $('#petBG, #proj2, #reu, #proj4, #rightbott, #bottmid').each(function(){
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+400) {
                  $(this).addClass("slideLeft");
                }
              });
            });
            </script>
          </body>
        </html>
